body {
    font-family: "Lato", sans-serif;
    background-color: rgb(233, 233, 233);
}

p,
h2,
h3,
h4 {
    text-align: justify;
    margin: 20px;
}

.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: rgb(211, 211, 211) 0px 3px 8px;
    border-radius: 5px;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 10px;
    font-size: 15px;
    border: none;
    box-shadow: rgb(211, 211, 211) 0px 1px 4px;
    border-radius: 5px;
}

.topnav .search-container button {
    float: right;
    padding: 10px;
    margin: 0px 10px 0px 10px;
    background: rgb(143, 162, 182);
    font-size: 15px;
    cursor: pointer;
    border: none;
    box-shadow: rgb(211, 211, 211) 0px 1px 4px;
    border-radius: 5px;
}

.topnav .search-container button:hover {
    background: rgb(211, 211, 211);
}

.sidebar {
    width: 200px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: rgb(211, 211, 211) 0px 3px 8px;
    border-radius: 5px;

}

.sidebar a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: rgb(143, 162, 182);
    color: rgb(0, 0, 0);
}

.sidebar a:hover:not(.active) {
    background-color: rgb(211, 211, 211);
    color: rgb(255, 255, 255);
}

.content {
    margin-left: 220px;
}

.item1 {
    grid-area: chart1;
}

.item2 {
    grid-area: chart2;
}

.item3 {
    grid-area: chart3;
}

.item4 {
    grid-area: chart4;
}

.item5 {
    grid-area: chart5;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'chart1 chart1'
        'chart2 chart3'
        'chart4 chart4'
        'chart5 chart5';
    gap: 20px;
    padding: 10px;
    border-radius: 5px;
}

.grid-container div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 50px;
    border-radius: 5px;
    box-shadow: rgb(211, 211, 211) 0px 3px 8px;
}

.footer {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: rgb(211, 211, 211) 0px 3px 8px;
    border-radius: 5px;
}

.footer p {
    text-align: center;
}

@media only screen and (max-width: 600px),
(max-width: 768px),
(max-width: 992px) {
    .topnav {
        display: block;
    }
}

@media only screen and (max-width: 600px),
(max-width: 768px),
(max-width: 992px) {
    .sidebar {
        position: initial;
        height: 100%;
        width: 100%;
        margin-bottom: 10px;

    }
}

@media only screen and (max-width: 600px),
(max-width: 768px),
(max-width: 992px) {
    .grid-container {
        display: block;
    }
}

@media only screen and (max-width: 600px),
(max-width: 768px),
(max-width: 992px) {
    .grid-container div {
        margin: 20px 0px 20px 0px;
    }
}

@media only screen and (max-width: 600px),
(max-width: 768px),
(max-width: 992px) {
    .content {
        margin-left: 0px;
    }
}