body {
    font-family: "Lato", sans-serif;
    background-color:rgb(233, 233, 233);
}

h2{
    text-align: center;
}
.topnav {
    overflow: hidden;
    background-color: white;
    padding: 20px;
    box-shadow: lightgrey 0px 3px 8px;
    border-radius: 5px;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 10px;
    font-size: 15px;
    border: none;
    box-shadow: lightgray 0px 1px 4px;
    border-radius: 5px;
}

.topnav .search-container button {
    float: right;
    padding: 10px;
    margin: 0px 10px 0px 10px;
    background: rgb(143, 162, 182);
    font-size: 15px;
    cursor: pointer;
    border: none;
    box-shadow: lightgray 0px 1px 4px;
    border-radius: 5px;
}

.topnav .search-container button:hover {
    background: lightgray;
}

.sidebar {
    width: 200px;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: lightgrey 0px 3px 8px;
    border-radius: 5px;
    
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: rgb(143, 162, 182);;
    color: black;
}

.sidebar a:hover:not(.active) {
    background-color: lightgrey;
    color: white;
}

.content {
    margin-left: 220px;
}

.item1 {
    grid-area: chart1;
    
}

.item2 {
    grid-area: chart2;
   
}

.item3 {
    grid-area: chart3;
    
}

.item4 {
    grid-area: chart4;
    
}

.item5 {
    grid-area: chart5;
    
}



.grid-container {
    display: grid;
    grid-template-areas:
        'chart1 chart1'
        'chart2 chart3'
        'chart4 chart4'
        'chart5 chart5';
    gap: 20px;
    padding: 10px;
    border-radius: 5px;
}

.grid-container div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 50px;
    border-radius: 5px;
    box-shadow: lightgrey 0px 3px 8px;
}

.footer {
    padding: 20px;
    background-color: white;
    color: black;
    text-align: center;
    box-shadow: lightgrey 0px 3px 8px;
    border-radius: 5px;
}

